<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>NutriDel | Products</title>

    <style>
        .container {
            margin-top: 70px;
            margin-left: 70px;
        }

        .card {
            font-family: 'Gill Sans MT';
            margin-left: 50px;
            border-style: none;
        }

        a {
            font-family: 'Gill Sans MT';
        }

        body {
            background-color: #96BD63;
        }

        p {
            font-size: 20px;
        }

    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand"
                href="home">NutriDel
                <img src="https://mail.google.com/mail/u/0?ui=2&ik=3475c59d85&attid=0.1&permmsgid=msg-f:1706459229266548754&th=17ae8fa0b81e9812&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_YWcrFStexNSI4M8rxBedLE1sG4AkJ-fZCRZvTFMCwtugQyc2cFi6fflZLsjj36IDg9L_GoB6sqEtDjpTe8STx7SUQWIcqK4pxZgRcU1MXjUQ_IzddSbAN-Ek&disp=emb&realattid=ii_krmbpaoa0"
                    alt="" width="30" height="24">
            </a>
            <button class=" navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="products">Catalog</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="https://forms.gle/Wp21BUKnAosmD2bG8">Rewards Program</a></li>
                            <li><a class="dropdown-item"
                                    href="total">Cart</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Customer Support</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="(Work In Progress)" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">WIP</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Navigation Bar at the top of the page. -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://snaped.fns.usda.gov/sites/default/files/styles/crop_ratio_7_5/public/seasonal-produce/2018-05/apples_2.jpg?h=65b39431&itok=MoJheg5x"
                        class="card-img-top" alt="..." height="190">
                    <div class="card-body">
                        <h5 class="card-title">Apples</h5>
                        <p class="card-text">These apples have been grown using sustainable farming practices.</p>
                        <p class="card-text">0.00 USD per Pound</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn-prod.medicalnewstoday.com/content/images/articles/272/272782/oranges-in-a-box.jpg"
                        class="card-img-top" alt="..." height="190">
                    <div class="card-body">
                        <h5 class="card-title">Oranges</h5>
                        <p class="card-text">These oranges have been grown using sustainable farming practices.</p>
                        <p class="card-text">0.00 USD per Pound</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.freshpoint.com/wp-content/uploads/commodity-carrot.jpg" class="card-img-top"
                        alt="..." height="190">
                    <div class="card-body">
                        <h5 class="card-title">Carrots</h5>
                        <p class="card-text">These carrots have been grown using sustainable farming practices.</p>
                        <p class="card-text">0.00 USD per Pound</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products Grid (1-3) -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.nicepng.com/png/detail/132-1325915_asparagus-png-file-asparagus-png.png"
                        class="card-img-top" alt="..." height="190">
                    <div class="card-body">
                        <h5 class="card-title">Asparagus</h5>
                        <p class="card-text">These asparagus have been grown using sustainable farming practices.</p>
                        <p class="card-text">0.00 USD per Pound</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.seekpng.com/png/detail/16-161771_avocados-png-image-avocados-png.png"
                        class="card-img-top" alt="..." height="190">
                    <div class="card-body">
                        <h5 class="card-title">Avocado</h5>
                        <p class="card-text">These avocados have been grown using sustainable farming practices.</p>
                        <p class="card-text">0.00 USD per Pound</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://www.seekpng.com/png/detail/149-1490467_png-free-download-broccoli-white-background-images-broccoli.png"
                        class="card-img-top" alt="..." height="190">
                    <div class="card-body">
                        <h5 class="card-title">Broccoli</h5>
                        <p class="card-text">These broccoli have been grown using sustainable farming practices.</p>
                        <p class="card-text">0.00 USD per Pound</p>
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products Grid (4-6) -->
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>